In [1]:
import pandas as pd
import numpy as np

In [4]:
housing_df = pd.read_csv('./data/housing.csv')
housing_df.head()

,ID,Crime_Rate,Residential_Area,Non_Retail,River,Pollutants,Rooms,Old_Housing,Distance_Office,Highway_Access,Tax_Rate,Student_Teacher_Ratio,Low_Income,Price
0,1,Low,Very Low,2.31,Far,0.538,6.575,65.2,4.0900,Low,296,15.3,4.98,24.0
1,2,Low,Very Low,7.07,Far,0.469,6.421,78.9,4.9671,Low,242,17.8,9.14,21.6
2,3,Low,Very Low,7.07,Far,0.469,7.185,61.1,4.9671,Low,242,17.8,4.03,34.7
3,4,Low,Very Low,2.18,Far,0.458,6.998,45.8,6.0622,Low,222,18.7,2.94,33.4
4,5,Low,Very Low,2.18,Far,0.458,7.147,54.2,6.0622,Low,222,18.7,5.33,36.2

In [9]:
housing_df.shape

(506, 14)

In [13]:
housing_df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,506.0,253.500000,146.213884,1.0000,127.250000,253.50000,379.750000,506.0000
Non_Retail,506.0,11.136779,6.860353,0.4600,5.190000,9.69000,18.100000,27.7400
Pollutants,506.0,0.554695,0.115878,0.3850,0.449000,0.53800,0.624000,0.8710
Rooms,476.0,6.278624,0.689784,3.5610,5.879750,6.20500,6.616500,8.7800
Old_Housing,506.0,69.124506,28.346261,2.9000,45.175000,78.50000,94.500000,105.0000
Distance_Office,506.0,3.795262,2.105850,1.1296,2.100175,3.20745,5.188425,12.1265
Tax_Rate,506.0,408.237154,168.537116,187.0000,279.000000,330.00000,666.000000,711.0000
Student_Teacher_Ratio,506.0,18.452174,2.165144,12.6000,17.325000,19.10000,20.200000,22.0000
Low_Income,506.0,12.653063,7.141062,1.7300,6.950000,11.36000,16.955000,37.9700
Price,506.0,22.532806,9.197104,5.0000,17.025000,21.20000,25.000000,50.0000

In [6]:
housing_df.isnull().sum()

ID                        0
Crime_Rate                0
Residential_Area         28
Non_Retail                0
River                     0
Pollutants                0
Rooms                    30
Old_Housing               0
Distance_Office           0
Highway_Access            0
Tax_Rate                  0
Student_Teacher_Ratio     0
Low_Income                0
Price                     0
dtype: int64

In [24]:
housing_corr = housing_df.corr()
housing_corr

,ID,Non_Retail,Pollutants,Rooms,Old_Housing,Distance_Office,Tax_Rate,Student_Teacher_Ratio,Low_Income,Price
ID,1.000000,0.399439,0.398736,-0.080498,0.212037,-0.302133,0.666626,0.291266,0.258465,-0.226604
Non_Retail,0.399439,1.000000,0.763651,-0.383212,0.642360,-0.707858,0.720760,0.382773,0.603800,-0.483725
Pollutants,0.398736,0.763651,1.000000,-0.294774,0.721221,-0.769110,0.668023,0.188753,0.590879,-0.427321
Rooms,-0.080498,-0.383212,-0.294774,1.000000,-0.230966,0.199001,-0.283840,-0.343208,-0.614734,0.692216
Old_Housing,0.212037,0.642360,0.721221,-0.230966,1.000000,-0.741354,0.511168,0.259825,0.593630,-0.368584
Distance_Office,-0.302133,-0.707858,-0.769110,0.199001,-0.741354,1.000000,-0.534193,-0.233357,-0.497227,0.249958
Tax_Rate,0.666626,0.720760,0.668023,-0.283840,0.511168,-0.534193,1.000000,0.459496,0.543993,-0.468536
Student_Teacher_Ratio,0.291266,0.382773,0.188753,-0.343208,0.259825,-0.233357,0.459496,1.000000,0.375084,-0.507252
Low_Income,0.258465,0.603800,0.590879,-0.614734,0.593630,-0.497227,0.543993,0.375084,1.000000,-0.737663
Price,-0.226604,-0.483725,-0.427321,0.692216,-0.368584,0.249958,-0.468536,-0.507252,-0.737663,1.000000

In [36]:
auto_df = pd.read_csv('./data/auto.csv')
auto_df.head()

,Risk_Rating,Make,Fuel_Type,Aspiration,Doors,Body,Drive_Wheels,Engine_Loc,Wheel_Base,Length,...,Engine_Size,Fuel_System,Bore,Stroke,Compression_Ratio,Horsepower,Peak_RPM,City_MPG,Highway_MPG,Price
0,3,Alfa-Romero,Gas,Std,Two,Convertible,RWD,Front,88.6,168.8,...,130,MPFI,3.47,2.68,9.0,111,5000,21,27,13495
1,3,Alfa-Romero,Gas,Std,Two,Convertible,RWD,Front,88.6,168.8,...,130,MPFI,3.47,2.68,9.0,111,5000,21,27,16500
2,2,Alfa-Romero,Gas,Std,Two,Hatchback,RWD,Front,94.5,171.2,...,152,MPFI,2.68,3.47,9.0,154,5000,19,26,16500
3,3,Audi,Gas,Std,Four,Sedan,FWD,Front,99.8,176.6,...,109,MPFI,3.19,3.40,10.0,102,5500,24,30,13950
4,3,Audi,Gas,Std,Four,Sedan,4WD,Front,99.4,176.6,...,136,MPFI,3.19,3.40,8.0,115,5500,18,22,17450

In [16]:
auto_df.shape

(201, 25)

In [25]:
auto_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Risk_Rating        201 non-null    int64
 1   Make               201 non-null    object
 2   Fuel_Type          201 non-null    object
 3   Aspiration         201 non-null    object
 4   Doors              187 non-null    object
 5   Body               201 non-null    object
 6   Drive_Wheels       191 non-null    object
 7   Engine_Loc         201 non-null    object
 8   Wheel_Base         201 non-null    float64
 9   Length             201 non-null    float64
 10  Width              201 non-null    float64
 11  Height             201 non-null    float64
 12  Curb_Weight        201 non-null    int64
 13  Engine_Type        201 non-null    object
 14  Num_Of_Cylinders   196 non-null    object
 15  Engine_Size        201 non-null    int64
 16  Fuel_System        193 non-null    object
 17  Bore               201 non-null    float64
 18  Stroke             201 non-null    float64
 19  Compression_Ratio  201 non-null    float64
 20  Horsepower         201 non-null    int64
 21  Peak_RPM           201 non-null    int64
 22  City_MPG           201 non-null    int64
 23  Highway_MPG        201 non-null    int64
 24  Price              201 non-null    int64
dtypes: float64(7), int64(8), object(10)
memory usage: 39.4+ KB

In [39]:
auto_corr = auto_df.corr()
auto_corr

,Risk_Rating,Wheel_Base,Length,Width,Height,Curb_Weight,Engine_Size,Bore,Stroke,Compression_Ratio,Horsepower,Peak_RPM,City_MPG,Highway_MPG,Price
Risk_Rating,1.000000,-0.472436,-0.308035,-0.239368,-0.436179,-0.198764,-0.095195,-0.064424,-0.033786,-0.126294,0.032334,0.200718,-0.006334,0.065281,-0.088685
Wheel_Base,-0.472436,1.000000,0.875619,0.814548,0.583923,0.783832,0.575419,0.486493,0.169953,0.247659,0.377356,-0.348017,-0.470725,-0.541747,0.589105
Length,-0.308035,0.875619,1.000000,0.857170,0.492063,0.880665,0.685025,0.608616,0.122081,0.159733,0.579493,-0.286517,-0.665192,-0.698142,0.691236
Width,-0.239368,0.814548,0.857170,1.000000,0.306002,0.866201,0.729436,0.544520,0.188228,0.189867,0.614841,-0.245862,-0.633531,-0.680635,0.753468
Height,-0.436179,0.583923,0.492063,0.306002,1.000000,0.307581,0.074694,0.180608,-0.067538,0.259737,-0.086878,-0.311713,-0.049800,-0.104812,0.136669
Curb_Weight,-0.198764,0.783832,0.880665,0.866201,0.307581,1.000000,0.849072,0.643607,0.166414,0.156433,0.758003,-0.279501,-0.749543,-0.794889,0.834734
Engine_Size,-0.095195,0.575419,0.685025,0.729436,0.074694,0.849072,1.000000,0.572395,0.200682,0.028889,0.822576,-0.256741,-0.650546,-0.679571,0.870847
Bore,-0.064424,0.486493,0.608616,0.544520,0.180608,0.643607,0.572395,1.000000,-0.054324,0.001294,0.566023,-0.267710,-0.581378,-0.590707,0.543180
Stroke,-0.033786,0.169953,0.122081,0.188228,-0.067538,0.166414,0.200682,-0.054324,1.000000,0.186867,0.098612,-0.057016,-0.039493,-0.039198,0.079167
Compression_Ratio,-0.126294,0.247659,0.159733,0.189867,0.259737,0.156433,0.028889,0.001294,0.186867,1.000000,-0.214242,-0.435488,0.331425,0.268465,0.073732
Horsepower,0.032334,0.377356,0.579493,0.614841,-0.086878,0.758003,0.822576,0.566023,0.098612,-0.214242,1.000000,0.107902,-0.821955,-0.804600,0.809092
Peak_RPM,0.200718,-0.348017,-0.286517,-0.245862,-0.311713,-0.279501,-0.256741,-0.267710,-0.057016,-0.435488,0.107902,1.000000,-0.115207,-0.058609,-0.102059
City_MPG,-0.006334,-0.470725,-0.665192,-0.633531,-0.049800,-0.749543,-0.650546,-0.581378,-0.039493,0.331425,-0.821955,-0.115207,1.000000,0.972044,-0.687451
Highway_MPG,0.065281,-0.541747,-0.698142,-0.680635,-0.104812,-0.794889,-0.679571,-0.590707,-0.039198,0.268465,-0.804600,-0.058609,0.972044,1.000000,-0.705859
Price,-0.088685,0.589105,0.691236,0.753468,0.136669,0.834734,0.870847,0.543180,0.079167,0.073732,0.809092,-0.102059,-0.687451,-0.705859,1.000000

In [17]:
auto_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Risk_Rating,201.0,2.169154,0.625495,1.00,2.00,2.00,3.00,3.00
Wheel_Base,201.0,98.769154,6.158096,86.60,94.50,97.00,102.40,120.90
Length,201.0,174.200995,12.322175,141.10,166.80,173.20,183.50,208.10
Width,201.0,65.889055,2.101471,60.30,64.10,65.50,66.60,72.00
Height,201.0,53.766667,2.447822,47.80,52.00,54.10,55.50,59.80
Curb_Weight,201.0,2555.666667,517.296727,1488.00,2169.00,2414.00,2926.00,4066.00
Engine_Size,201.0,126.875622,41.546834,61.00,98.00,120.00,141.00,326.00
Bore,201.0,3.330647,0.268259,2.54,3.15,3.31,3.58,3.94
Stroke,201.0,3.258159,0.316427,2.07,3.11,3.29,3.41,4.17
Compression_Ratio,201.0,10.164279,4.004965,7.00,8.60,9.00,9.40,23.00
Horsepower,201.0,103.378109,37.366112,48.00,70.00,95.00,116.00,262.00
Peak_RPM,201.0,5117.412935,478.220946,4150.00,4800.00,5200.00,5500.00,6600.00
City_MPG,201.0,25.179104,6.423220,13.00,19.00,24.00,30.00,49.00
Highway_MPG,201.0,30.686567,6.815150,16.00,25.00,30.00,34.00,54.00
Price,201.0,13195.114428,7915.457051,5118.00,7775.00,10295.00,16503.00,45400.00

In [18]:
auto_df.isnull().sum()

Risk_Rating           0
Make                  0
Fuel_Type             0
Aspiration            0
Doors                14
Body                  0
Drive_Wheels         10
Engine_Loc            0
Wheel_Base            0
Length                0
Width                 0
Height                0
Curb_Weight           0
Engine_Type           0
Num_Of_Cylinders      5
Engine_Size           0
Fuel_System           8
Bore                  0
Stroke                0
Compression_Ratio     0
Horsepower            0
Peak_RPM              0
City_MPG              0
Highway_MPG           0
Price                 0
dtype: int64

In [23]:
auto_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Risk_Rating        201 non-null    int64
 1   Make               201 non-null    object
 2   Fuel_Type          201 non-null    object
 3   Aspiration         201 non-null    object
 4   Doors              187 non-null    object
 5   Body               201 non-null    object
 6   Drive_Wheels       191 non-null    object
 7   Engine_Loc         201 non-null    object
 8   Wheel_Base         201 non-null    float64
 9   Length             201 non-null    float64
 10  Width              201 non-null    float64
 11  Height             201 non-null    float64
 12  Curb_Weight        201 non-null    int64
 13  Engine_Type        201 non-null    object
 14  Num_Of_Cylinders   196 non-null    object
 15  Engine_Size        201 non-null    int64
 16  Fuel_System        193 non-null    object
 17  Bore               201 non-null    float64
 18  Stroke             201 non-null    float64
 19  Compression_Ratio  201 non-null    float64
 20  Horsepower         201 non-null    int64
 21  Peak_RPM           201 non-null    int64
 22  City_MPG           201 non-null    int64
 23  Highway_MPG        201 non-null    int64
 24  Price              201 non-null    int64
dtypes: float64(7), int64(8), object(10)
memory usage: 39.4+ KB

In [31]:
auto_df['Fuel_System'].unique()

array(['MPFI', '2BBL', 'MFI', '1BBL', nan, 'SPFI', '4BBL', 'IDI', 'SPDI'],
      dtype=object)

In [37]:
auto_df['Fuel_System'].mode()

0    MPFI
Name: Fuel_System, dtype: object

In [19]:
wine_df = pd.read_csv('./data/wine.csv')
wine_df.head()

,ID,Fixed_Acidity,Volatile_Acidity,Citric_Acid,Residual_Sugar,Chlorides,Free_SO2,Total_SO2,Density,pH,Sulphates,Alcohol,Quality
0,1,7.0,0.27,0.36,High,0.045,45.0,170.0,>1.00,Acidic,0.45,8%,6
1,2,6.3,0.30,0.34,Low,0.049,14.0,132.0,0.99-1.00,Acidic,0.49,9%,6
2,3,8.1,0.28,0.40,Low,0.050,30.0,97.0,0.99-1.00,Acidic,0.44,10%,6
3,4,7.2,0.23,0.32,Moderate,0.058,47.0,186.0,0.99-1.00,Acidic,0.40,9%,6
4,5,7.2,0.23,0.32,Moderate,0.058,47.0,186.0,0.99-1.00,Acidic,0.40,9%,6

In [20]:
wine_df.shape

(4898, 13)

In [21]:
wine_df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,4898.0,2449.500000,1414.075139,1.000,1225.250,2449.500,3673.75,4898.000
Fixed_Acidity,4680.0,6.851143,0.841314,3.800,6.300,6.800,7.30,14.200
Volatile_Acidity,4848.0,0.277986,0.100726,0.080,0.210,0.260,0.32,1.100
Citric_Acid,4898.0,0.334136,0.120969,0.000,0.270,0.320,0.39,1.660
Chlorides,4898.0,0.045772,0.021848,0.009,0.036,0.043,0.05,0.346
Free_SO2,4898.0,35.308085,17.007137,2.000,23.000,34.000,46.00,289.000
Total_SO2,4898.0,137.346264,43.564766,6.000,107.000,134.000,167.00,440.000
Sulphates,4898.0,0.489822,0.114144,0.220,0.410,0.470,0.55,1.080
Quality,4898.0,5.877909,0.885639,3.000,5.000,6.000,6.00,9.000

In [22]:
wine_df.isnull().sum()

ID                    0
Fixed_Acidity       218
Volatile_Acidity     50
Citric_Acid           0
Residual_Sugar        0
Chlorides             0
Free_SO2              0
Total_SO2             0
Density             224
pH                    0
Sulphates             0
Alcohol               0
Quality               0
dtype: int64

In [26]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                4898 non-null   int64
 1   Fixed_Acidity     4680 non-null   float64
 2   Volatile_Acidity  4848 non-null   float64
 3   Citric_Acid       4898 non-null   float64
 4   Residual_Sugar    4898 non-null   object
 5   Chlorides         4898 non-null   float64
 6   Free_SO2          4898 non-null   float64
 7   Total_SO2         4898 non-null   float64
 8   Density           4674 non-null   object
 9   pH                4898 non-null   object
 10  Sulphates         4898 non-null   float64
 11  Alcohol           4898 non-null   object
 12  Quality           4898 non-null   int64
dtypes: float64(7), int64(2), object(4)
memory usage: 497.6+ KB

In [28]:
wine_df.sample(10)

,ID,Fixed_Acidity,Volatile_Acidity,Citric_Acid,Residual_Sugar,Chlorides,Free_SO2,Total_SO2,Density,pH,Sulphates,Alcohol,Quality
4088,4089,7.3,0.25,0.27,Low,0.047,16.0,79.0,0.99-1.00,Acidic,0.46,11%,6
3188,3189,7.0,0.17,0.36,Low,0.055,42.0,123.0,0.99-1.00,Acidic,0.50,11%,8
543,544,6.7,0.24,0.41,Moderate,0.036,29.0,148.0,0.99-1.00,Acidic,0.62,9%,6
3336,3337,6.9,0.38,0.30,High,0.048,52.0,189.0,0.99-1.00,Acidic,0.60,9%,6
2381,2382,7.0,0.23,0.42,Low,0.042,37.0,144.0,0.99-1.00,Acidic,0.59,10%,6
420,421,7.0,0.22,0.31,Low,0.030,41.0,136.0,<0.99,Acidic,0.37,12%,7
1052,1053,7.6,0.29,0.42,Low,0.035,18.0,86.0,0.99-1.00,Highly Acidic,0.39,11%,5
1246,1247,8.0,NaN,0.40,Low,0.055,41.0,167.0,0.99-1.00,Acidic,0.40,10%,7
4339,4340,6.8,0.24,0.29,Low,0.044,15.0,96.0,0.99-1.00,Acidic,0.64,10%,8
4666,4667,6.4,0.31,0.53,Moderate,0.057,36.0,221.0,0.99-1.00,Acidic,0.44,9%,5

In [29]:
wine_df['pH'].unique()

array(['Acidic', 'Highly Acidic', 'Neutral'], dtype=object)

In [38]:
wine_corr = wine_df.corr()
wine_corr

,ID,Fixed_Acidity,Volatile_Acidity,Citric_Acid,Chlorides,Free_SO2,Total_SO2,Sulphates,Quality
ID,1.000000,-0.258180,0.005007,-0.149836,-0.045645,-0.011929,-0.158212,0.009395,0.035763
Fixed_Acidity,-0.258180,1.000000,-0.020368,0.287692,0.023441,-0.041856,0.096556,-0.014732,-0.113064
Volatile_Acidity,0.005007,-0.020368,1.000000,-0.150004,0.070187,-0.095984,0.085094,-0.036076,-0.194081
Citric_Acid,-0.149836,0.287692,-0.150004,1.000000,0.113768,0.094329,0.119169,0.062529,-0.008895
Chlorides,-0.045645,0.023441,0.070187,0.113768,1.000000,0.101392,0.193783,0.016827,-0.209934
Free_SO2,-0.011929,-0.041856,-0.095984,0.094329,0.101392,1.000000,0.595830,0.058535,0.008158
Total_SO2,-0.158212,0.096556,0.085094,0.119169,0.193783,0.595830,1.000000,0.127366,-0.169761
Sulphates,0.009395,-0.014732,-0.036076,0.062529,0.016827,0.058535,0.127366,1.000000,0.053781
Quality,0.035763,-0.113064,-0.194081,-0.008895,-0.209934,0.008158,-0.169761,0.053781,1.000000